small {
  color: #fdfcfb;
}

h1 {
  color: #fdfcfb;
}

.App {
  font-family: MYRIADPRO Pro REGULAR;
}

.container {
  line-height: 28px;
  font-weight: 100;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f6f7;
  background-image: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1680&q=80");
  position: absolute;
  background-size: cover;
  width: 100%;
}

.background {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  min-height: 50vh;
  color: #212529;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e0c3aa 100%);
}
