canva {
  display: block;
  margin: 0 auto;
}

.forecast-day {
  text-align: center;
  margin-top: 30px;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  position: relative;
  top: 10px;
}

.temperature-low {
  opacity: 0.9;
}
