.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.8;
  margin-left: 5px;
}

.WeatherForecast-temperatures {
  margin-top: 10px;
  color: rgb(100, 100, 100);
  font-size: 16px;
  font-weight: 600;
  height: auto;
}
.WeatherForecast-temperature-max {
  margin-left: 5px;
  color: #745858;
}

.WeatherForecast-day {
  margin: 10px 20px;
  color: #745858;
  font-size: 16px;
  font-weight: 300;
  height: auto;
}
