.active {
  color: rgb(135, 135, 135);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.units {
  font-size: 15px;
  position: relative;
  bottom: 12px;
  right: 25px;
}

.temperature {
  position: relative;
  top: 10px;
  left: -30px;
  font-size: 50px;
}
